body{
    background-color: #d1e7e4;
    background-image: url(daniel-leone-v7daTKlZzaw-unsplash3.jpg);
    background-size: 100% 65%;
    background-repeat: no-repeat;
    
    
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

a{
    text-decoration: none;
}
.judul{
    width: 100%;
    height: 100%;
    font-size: 24;

}

.judul ul{
    display: inline-flex;
    margin: 20px;
    list-style: none;

}
.judul ul li{
    margin: 10px 50px 10px 10px;
    color: white;
    cursor: pointer;

}
.kontak a{
    text-decoration: none;
    color: white;
}
.kontak{
    position: absolute;
    margin-left: 1350px;
    margin-top: 7px;
}

.menu{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.tengah{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.tengah h1{
    color: white;
    font-size: 55px;
}
.tanggal a{
    color: black;

    text-decoration: none;
}
.jan{
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translate(-50%,-50%);
}
.feb{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mar{
    position: absolute;
    top: 75%;
    left: 65%;
    transform: translate(-50%,-50%);
}
.skip{
    position: absolute;
    top: 73%;
    left: 73%;
    font-size: 45;
}
.garis{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 700px;

    color: black;
    transform: translate(-50%,-50%);
    
}

.konten{
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.artikel{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 6px;
	font-weight: 900;
	font-size: 50px;
	margin-top: 60px;
	margin-bottom: 50px;
	color: black;
}
a{
    text-decoration: none;
}

.gambar{
	margin: auto;
	width: 879px;
	/* border: 2px solid black; */
}
.gambar a{
    color: black;
    text-decoration: none;
}

div.polaroid1 {
	display: inline-block;
	margin-right: 60px;
	margin-top: 50px;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	
  }
  div.polaroid2 {
	display: inline-block;
	margin-top: 50px;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	
  }

  div.container {
	padding: 10px;
  }
  .container .thumbnail{
	  font-weight: bold;
  }
.footer{
    width: 100%;
    height: 130px;
    padding-left: 10px;
    line-height: 50px;
    background: #014461;
    color: #fff;
    position: absolute;
    top: 1300px;
}