body{
    background-color: #d1e7e4;
    background-image: url(daniel-leone-v7daTKlZzaw-unsplash3.jpg);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    
    
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

a{
    text-decoration: none;
}

.judul{
    width: 100%;
    height: 100%;
    font-size: 24;

}

.judul ul{
    display: inline-flex;
    margin: 20px;
    list-style: none;

}
.judul ul li{
    margin: 10px 50px 10px 10px;
    color: white;
    cursor: pointer;
}


.menu{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.tengah{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.tengah h1{
    color: white;
    font-size: 55px;
}

.cari{
    position: absolute;
    top: 45%;
    left: 43%;
    border: 0px solid #dbdbdb;
    overflow: hidden;
    background-color: #e9e9e9;
        
}

.cari input{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.destinasi{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.destinasi h1{
    color: black;
    font-size: 35px;
}
.gambar{
    cursor: pointer;
    position: absolute;
    top 40%;
    left: 45%;
}
